# Arbeitslose analysieren

https://www.opengov-muenchen.de/dataset/monatszahlen-arbeitsmarkt/resource/0b6fe83d-4bf9-4789-9752-a3aefb073020
https://www.opengov-muenchen.de/dataset/monatszahlen-soziale-leistungen

https://www.opengov-muenchen.de/dataset/monatszahlen-bevoelkerung

In [86]:
import requests
import pandas as pd

#load data

def get_data_from_opengov_munich(resource_id, limit = 8000):
    params = params={
        'resource_id': resource_id, 
        'limit': limit ,
    }
    url = 'https://www.opengov-muenchen.de/api/action/datastore_search'
    r = requests.get(url, params=params).json()
    return pd.DataFrame(r['result']['records'])

    

df_population = get_data_from_opengov_munich('2252dc7c-265b-4f21-aa0e-b602c30cb85f', 80000)
df_hartz_iv =   get_data_from_opengov_munich('bee7fdb6-7333-4c21-a3a7-d2fb96f61dfe')   
df_unemployed = get_data_from_opengov_munich('0b6fe83d-4bf9-4789-9752-a3aefb073020')




df_unemployed.head()

,AUSPRAEGUNG,JAHR,MONAT,VERAEND_VORJAHRESMONAT_PROZENT,VERAEND_VORMONAT_PROZENT,VORJAHRESWERT,WERT,ZAHL,ZWOELF_MONATE_MITTELWERT,_id
0,Ausländer/innen,2018,201802,-8.39,-3.36,17787,16295,Arbeitslose,15939,1
1,Ausländer/innen,2018,201801,-4.83,14.49,17717,16861,Arbeitslose,16063,2
2,Ausländer/innen,2017,201712,-7.64,-0.3,15946,14727,Arbeitslose,16135,3
3,Ausländer/innen,2017,201711,-6.24,-3.36,15755,14772,Arbeitslose,16236,4
4,Ausländer/innen,2017,201710,-3.71,-2.52,15874,15285,Arbeitslose,16318,5

In [87]:

df_unemployed.keys()
print(df_unemployed.AUSPRAEGUNG.unique())

df_unemployed_q2 = df_unemployed.query("MONAT == '201711'") #[df.MONAT =="201802"]
df_unemployed_q2.head()

['Ausländer/innen' 'Deutsche' 'Frauen' 'insgesamt' 'Langzeitarbeitslose'
 'Männer']

,AUSPRAEGUNG,JAHR,MONAT,VERAEND_VORJAHRESMONAT_PROZENT,VERAEND_VORMONAT_PROZENT,VORJAHRESWERT,WERT,ZAHL,ZWOELF_MONATE_MITTELWERT,_id
3,Ausländer/innen,2017,201711,-6.24,-3.36,15755,14772,Arbeitslose,16236,4
149,Deutsche,2017,201711,-6.72,-2.48,19649,18329,Arbeitslose,19701,150
296,Frauen,2017,201711,-3.21,-2.78,16564,16032,Arbeitslose,16925,296
441,insgesamt,2017,201711,-6.5,-2.86,35404,33101,Arbeitslose,35936,442
587,Langzeitarbeitslose,2017,201711,-10.67,-2.38,10005,8937,Arbeitslose,9663,588

In [88]:
df_hiv_q2 =  df_hartz_iv.query("MONAT == '201711'")
df_hiv_q2.head()

,AUSPRAEGUNG,JAHR,MONAT,VERAEND_VORJAHRESMONAT_PROZENT,VERAEND_VORMONAT_PROZENT,VORJAHRESWERT,WERT,ZAHL,ZWOELF_MONATE_MITTELWERT,_id
0,Ausländer/innen,2017,201711,"4,09","0,35",8589,8940,Empfänger nach SGB XII,8777,1
119,Deutsche,2017,201711,"2,13","0,08",14048,14347,Empfänger nach SGB XII,14183,120
240,Empfänger/innen insges.,2017,201711,"2,87","0,18",22637,23287,Empfänger nach SGB XII,22959,239
359,Frauen,2017,201711,"2,84","0,06",11853,12190,Empfänger nach SGB XII,12031,358
478,Männer,2017,201711,"2,9","0,33",10784,11097,Empfänger nach SGB XII,10929,477

In [89]:
df_population_q2 = df_population.query("JAHR == '2017'")
df_population_q2

,AUSPRAEGUNG,JAHR,MONAT,VERAEND_VORJAHRESMONAT_PROZENT,VERAEND_VORMONAT_PROZENT,VORJAHRESWERT,WERT,ZAHL,ZWOELF_MONATE_MITTELWERT,_id
2,Berufsschulpflichtige (15- 17 J.),2017,201712,"-0,92","-0,16",33207,32901,Altersgruppen,32964,3
3,Berufsschulpflichtige (15- 17 J.),2017,201711,"-1,78","0,03",33549,32953,Altersgruppen,32989,4
4,Berufsschulpflichtige (15- 17 J.),2017,201710,"-1,71","-0,14",33515,32942,Altersgruppen,33039,5
5,Berufsschulpflichtige (15- 17 J.),2017,201709,"-2,39","0,22",33796,32989,Altersgruppen,33087,6
6,Berufsschulpflichtige (15- 17 J.),2017,201708,"-2,53","-0,08",33772,32917,Altersgruppen,33154,7
7,Berufsschulpflichtige (15- 17 J.),2017,201707,"-2,39","-0,08",33750,32943,Altersgruppen,33225,8
8,Berufsschulpflichtige (15- 17 J.),2017,201706,"-2,19","-0,03",33705,32968,Altersgruppen,33292,9
9,Berufsschulpflichtige (15- 17 J.),2017,201705,"-2,09","-0,07",33682,32977,Altersgruppen,33354,10
10,Berufsschulpflichtige (15- 17 J.),2017,201704,"-2,16","0,17",33729,33001,Altersgruppen,33413,11
11,Berufsschulpflichtige (15- 17 J.),2017,201703,"-3,15","-0,12",34019,32946,Altersgruppen,33473,12
12,Berufsschulpflichtige (15- 17 J.),2017,201702,"-3,28","-0,17",34104,32985,Altersgruppen,33563,13
13,Berufsschulpflichtige (15- 17 J.),2017,201701,"-3,73","-0,5",34323,33042,Altersgruppen,33656,14
226,Erwerbsfhige (15- 64 J.),2017,201712,"-1,61","-0,39",1081168,1063806,Altersgruppen,1077358,221
227,Erwerbsfhige (15- 64 J.),2017,201711,"-1,34","-0,24",1082497,1067958,Altersgruppen,1078805,222
228,Erwerbsfhige (15- 64 J.),2017,201710,"-1,02","0,17",1081521,1070527,Altersgruppen,1080017,223
229,Erwerbsfhige (15- 64 J.),2017,201709,"-0,81","-0,7",1077401,1068707,Altersgruppen,1080933,224
230,Erwerbsfhige (15- 64 J.),2017,201708,"0,12","-0,53",1074965,1076223,Altersgruppen,1081658,225
231,Erwerbsfhige (15- 64 J.),2017,201707,"0,65","-0,21",1074948,1081951,Altersgruppen,1081553,226
232,Erwerbsfhige (15- 64 J.),2017,201706,"1,03","-0,03",1073250,1084256,Altersgruppen,1080969,227
233,Erwerbsfhige (15- 64 J.),2017,201705,"1,11","0,06",1072596,1084545,Altersgruppen,1080052,228
234,Erwerbsfhige (15- 64 J.),2017,201704,"1,13","0,12",1071786,1083870,Altersgruppen,1079056,229
235,Erwerbsfhige (15- 64 J.),2017,201703,"1,16","0,07",1070196,1082606,Altersgruppen,1078049,230
236,Erwerbsfhige (15- 64 J.),2017,201702,"1,14","-0,01",1069729,1081888,Altersgruppen,1077015,231
237,Erwerbsfhige (15- 64 J.),2017,201701,"1,28","0,07",1068279,1081964,Altersgruppen,1076002,232
444,Minderjhrige (unter 18 J.),2017,201712,"1,06","-0,02",227597,230018,Altersgruppen,228818,439
445,Minderjhrige (unter 18 J.),2017,201711,"0,89","0,3",228031,230055,Altersgruppen,228616,440
446,Minderjhrige (unter 18 J.),2017,201710,"0,85","-0,05",227417,229359,Altersgruppen,228448,441
447,Minderjhrige (unter 18 J.),2017,201709,"1,06","0,12",227064,229470,Altersgruppen,228286,442
448,Minderjhrige (unter 18 J.),2017,201708,"1,14","0,18",226610,229199,Altersgruppen,228085,443
449,Minderjhrige (unter 18 J.),2017,201707,"1,18","-0,02",226123,228785,Altersgruppen,227869,444
...,...,...,...,...,...,...,...,...,...,...
17032,Auslnder/innen,2017,201706,"-10,88","-12,6",5256,4684,Zuzge,6066,16976
17033,Auslnder/innen,2017,201705,"7,78","-0,37",4972,5359,Zuzge,6114,16977
17034,Auslnder/innen,2017,201704,"-10,23","-8,77",5992,5379,Zuzge,6081,16978
17035,Auslnder/innen,2017,201703,"-0,03","23,32",5898,5896,Zuzge,6132,16979
17036,Auslnder/innen,2017,201702,-20,"-13,07",5976,4781,Zuzge,6133,16980
17037,Auslnder/innen,2017,201701,"-14,42","24,35",6427,5500,Zuzge,6232,16981
17222,Deutsche,2017,201712,"-4,6","-26,26",3020,2881,Zuzge,3647,17188
17223,Deutsche,2017,201711,"0,57","-21,73",3885,3907,Zuzge,3659,17189
17224,Deutsche,2017,201710,"-6,29","8,81",5327,4992,Zuzge,3657,17190
17225,Deutsche,2017,201709,"-2,63",7,4712,4588,Zuzge,3685,17191
17226,Deutsche,2017,201708,"-3,51","28,54",4444,4288,Zuzge,3695,17192
17227,Deutsche,2017,201707,"1,03","10,54",3302,3336,Zuzge,3708,17193
17228,Deutsche,2017,201706,"-4,16","-11,18",3149,3018,Zuzge,3706,17194
17229,Deutsche,2017,201705,"4,39","4,46",3255,3398,Zuzge,3717,17195
17230,Deutsche,2017,201704,"-10,46","-11,39",3633,3253,Zuzge,3705,17196
17231,Deutsche,2017,201703,"2,23","26,85",3591,3671,Zuzge,3736,17197
17232,Deutsche,2017,201702,"-13,95","-18,32",3363,2894,Zuzge,3730,17198
17233,Deutsche,2017,201701,"5,7","17,32",3352,3543,Zuzge,3769,17199
17431,insgesamt,2017,201712,"-1,84","-27,14",7443,7306,Zuzge,9443,17406
17432,insgesamt,2017,201711,"4,25","-25,75",9618,10027,Zuzge,9454,17407
17433,insgesamt,2017,201710,"-7,2","13,24",14552,13504,Zuzge,9420,17408
17434,insgesamt,2017,201709,"-7,1","16,14",12836,11925,Zuzge,9507,17409
17435,insgesamt,2017,201708,"-4,87","15,31",10794,10268,Zuzge,9583,17410
17436,insgesamt,2017,201707,"-16,3","15,62",10639,8905,Zuzge,9627,17411
17437,insgesamt,2017,201706,"-8,36","-12,05",8405,7702,Zuzge,9772,17412
17438,insgesamt,2017,201705,"6,44","1,45",8227,8757,Zuzge,9830,17413
17439,insgesamt,2017,201704,"-10,32","-9,77",9625,8632,Zuzge,9786,17414
17440,insgesamt,2017,201703,"0,82","24,65",9489,9567,Zuzge,9869,17415
17441,insgesamt,2017,201702,"-17,82","-15,13",9339,7675,Zuzge,9862,17416
17442,insgesamt,2017,201701,"-7,53","21,5",9779,9043,Zuzge,10001,17417

In [90]:
print(df_population_q2.ZAHL.unique())

['Altersgruppen' 'Eheschlieungen' 'EU-Nationalitten' 'Familienstand'
 'Geborene' 'Geschlecht und Staatsangehrigkeit' 'Gestorbene' 'Umzge'
 'Haushalte nach Kinderzahl' 'Haushalte nach Nationengruppe'
 'Haushalte nach Personenzahl' 'Kontinente' 'Migrationshintergrund'
 'Natrliches Saldo' 'Nicht-EU-Nationalitten' 'Religionszugehrigkeit'
 'Wanderungssaldo' 'Wegzge' 'Zuzge']

In [94]:
totals =  df_population_q2.query("ZAHL == 'Haushalte nach Nationengruppe'")
totals

,AUSPRAEGUNG,JAHR,MONAT,VERAEND_VORJAHRESMONAT_PROZENT,VERAEND_VORMONAT_PROZENT,VORJAHRESWERT,WERT,ZAHL,ZWOELF_MONATE_MITTELWERT,_id
10064,auslndisch,2017,201712,"-6,36","0,01",181643,170084,Haushalte nach Nationengruppe,179169,9959
10065,auslndisch,2017,201711,"-6,6","-1,54",182082,170066,Haushalte nach Nationengruppe,180132,9960
10066,auslndisch,2017,201710,"-5,05","0,46",181912,172726,Haushalte nach Nationengruppe,181133,9961
10067,auslndisch,2017,201709,"-4,17","-4,22",179419,171937,Haushalte nach Nationengruppe,181899,9962
10068,auslndisch,2017,201708,"0,52","-2,11",178597,179520,Haushalte nach Nationengruppe,182522,9963
10069,auslndisch,2017,201707,"2,88","-0,63",178259,183388,Haushalte nach Nationengruppe,182445,9964
10070,auslndisch,2017,201706,"4,71","-0,06",176238,184547,Haushalte nach Nationengruppe,182018,9965
10071,auslndisch,2017,201705,5,"0,48",175872,184657,Haushalte nach Nationengruppe,181325,9966
10072,auslndisch,2017,201704,"4,88","0,14",175235,183780,Haushalte nach Nationengruppe,180593,9967
10073,auslndisch,2017,201703,"5,03","0,16",174728,183525,Haushalte nach Nationengruppe,179881,9968
10074,auslndisch,2017,201702,"5,46","0,37",173740,183233,Haushalte nach Nationengruppe,179148,9969
10075,auslndisch,2017,201701,"5,5","0,5",173049,182560,Haushalte nach Nationengruppe,178357,9970
10129,deutsch,2017,201712,"-0,65","-0,78",568838,565118,Haushalte nach Nationengruppe,569006,10033
10130,deutsch,2017,201711,"0,03","-0,03",569397,569573,Haushalte nach Nationengruppe,569316,10034
10131,deutsch,2017,201710,"0,02","0,02",569596,569731,Haushalte nach Nationengruppe,569301,10035
10132,deutsch,2017,201709,"0,14","0,14",568839,569636,Haushalte nach Nationengruppe,569290,10036
10133,deutsch,2017,201708,"-0,03","-0,04",568972,568823,Haushalte nach Nationengruppe,569223,10037
10134,deutsch,2017,201707,"-0,09","0,04",569542,569036,Haushalte nach Nationengruppe,569236,10038
10135,deutsch,2017,201706,"-0,17","-0,06",569802,568833,Haushalte nach Nationengruppe,569278,10039
10136,deutsch,2017,201705,"-0,21","-0,04",570345,569174,Haushalte nach Nationengruppe,569359,10040
10137,deutsch,2017,201704,"-0,25","-0,03",570842,569397,Haushalte nach Nationengruppe,569456,10041
10138,deutsch,2017,201703,"-0,22","0,01",570811,569571,Haushalte nach Nationengruppe,569577,10042
10139,deutsch,2017,201702,"-0,26","-0,02",571035,569522,Haushalte nach Nationengruppe,569680,10043
10140,deutsch,2017,201701,"-0,18","0,14",570670,569652,Haushalte nach Nationengruppe,569806,10044
10203,deutsch - auslndisch,2017,201712,"0,72","0,07",82329,82918,Haushalte nach Nationengruppe,82671,10107
10204,deutsch - auslndisch,2017,201711,"0,82","0,07",82182,82859,Haushalte nach Nationengruppe,82622,10108
10205,deutsch - auslndisch,2017,201710,"1,04","0,16",81944,82797,Haushalte nach Nationengruppe,82566,10109
10206,deutsch - auslndisch,2017,201709,"1,16","-0,25",81717,82663,Haushalte nach Nationengruppe,82495,10110
10207,deutsch - auslndisch,2017,201708,"1,64","0,05",81529,82868,Haushalte nach Nationengruppe,82416,10111
10208,deutsch - auslndisch,2017,201707,"1,77","-0,09",81386,82826,Haushalte nach Nationengruppe,82304,10112
10209,deutsch - auslndisch,2017,201706,"2,12","0,24",81179,82898,Haushalte nach Nationengruppe,82184,10113
10210,deutsch - auslndisch,2017,201705,"2,04","0,16",81045,82698,Haushalte nach Nationengruppe,82041,10114
10211,deutsch - auslndisch,2017,201704,"2,17","0,2",80812,82567,Haushalte nach Nationengruppe,81903,10115
10212,deutsch - auslndisch,2017,201703,"2,12","0,08",80688,82399,Haushalte nach Nationengruppe,81757,10116
10213,deutsch - auslndisch,2017,201702,"2,11","0,13",80629,82333,Haushalte nach Nationengruppe,81614,10117
10214,deutsch - auslndisch,2017,201701,"2,09","-0,12",80543,82228,Haushalte nach Nationengruppe,81472,10118
10279,insgesamt,2017,201712,"-1,76","-0,53",832810,818120,Haushalte nach Nationengruppe,830845,10181
10280,insgesamt,2017,201711,"-1,34","-0,33",833661,822498,Haushalte nach Nationengruppe,832069,10182
10281,insgesamt,2017,201710,"-0,98","0,12",833452,825254,Haushalte nach Nationengruppe,833000,10183
10282,insgesamt,2017,201709,"-0,69","-0,84",829975,824236,Haushalte nach Nationengruppe,833683,10184
10283,insgesamt,2017,201708,"0,25","-0,48",829098,831211,Haushalte nach Nationengruppe,834161,10185
10284,insgesamt,2017,201707,"0,73","-0,12",829187,835250,Haushalte nach Nationengruppe,833985,10186
10285,insgesamt,2017,201706,"1,1","-0,03",827219,836278,Haushalte nach Nationengruppe,833480,10187
10286,insgesamt,2017,201705,"1,12","0,09",827262,836529,Haushalte nach Nationengruppe,832725,10188
10287,insgesamt,2017,201704,"1,07","0,03",826889,835744,Haushalte nach Nationengruppe,831953,10189
10288,insgesamt,2017,201703,"1,12","0,05",826227,835495,Haushalte nach Nationengruppe,831215,10190
10289,insgesamt,2017,201702,"1,17","0,08",825404,835088,Haushalte nach Nationengruppe,830442,10191
10290,insgesamt,2017,201701,"1,23","0,2",824262,834440,Haushalte nach Nationengruppe,829635,10192